:root {
    --accent-color: #0bf;
    --accent-color-alt: #7bf;
    --gradient-rotation: 0deg;
    --gradient-primary: #66CBFF;
    --gradient-secondary: #0080FF;
}

:root {
    --version-downloads-bubbleblaster: "2021.8.22.19.03"
}
