:root {
    --accent-color: #ff7f00;
    --accent-color-alt: #dfaf30;
    --gradient-rotation: 330deg;
    --gradient-primary: #e64d00;
    --gradient-secondary: #ffd500;
}

:root {
    --version-index: "2022.22.5.17.15"
}
