:root {
    --accent-color: #f90;
    --accent-color-alt: #FF6600;
    --gradient-rotation: 330deg;
    --gradient-primary: #FF3F00;
    --gradient-secondary: #FF6600;
}

:root {
    --version-index: "2022.22.5.17.15"
}
